html {
    background-image: url("imgBack.jpg")
}
 
body {
   width: 500px;
   margin: 0 auto;
   background-color:rgb(4, 59, 63);
   padding: 20px 30px 30px ;
   font-size: 16px;
   color:#DCDCDC;
   text-align: center;
   font-family: cursive, arial;
}
 
form{
   border-radius: 5px;
   background-color: rgb(4, 88, 94);
   padding: 40px;
   width:400px;
   margin: 0 auto;  
   text-align: left;
}

p {
  text-align: justify;
}

textarea{
  color: #008B8B; 
  font-size: 15px;
  font-family: arial;
  width:400px;
  height:120px
}
 
#aln{
  text-align: left;
} 


.fiel{
  padding: 12px;
  width: 150px;
  color: #008B8B; 
  font-size: 15px; 
  font-family: arial;
  
  
}
 
.fild:focus{
   border-color:#DCDCDC;
}
  
.btn{
   font-family: cursive, arial;
   font-size: 14px;
   margin: 0.5em;
   text-transform: uppercase;
   font-weight: 900;
   border: 0;
   padding: 10px ;
   cursor: pointer;
   color: #008B8B; 
   width: 182px;
   text-shadow: 2px 2px  2px #A9A9A9;
   border-radius: 0.5em;
   box-shadow: 2px 2px 0px 3px #DCDCDC;
}

.hide{
  display: none;

}

.show{
  display: block;
}
